/*共通*/
html {
    margin: 0;
}

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: white;
    background-color: #151515;
    margin: 0;
}


/*pcのスタイル*/
@media screen and (min-width: 991px) {
    /*ページ*/
    body {
        max-width: 1180px;
        min-width: 900px;
        margin: 10px auto 0 auto;
    }

    .logo {
        width: 125px;
    }

    h1 {
        font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
        font-size: 35px;
        position: relative;
        margin: 0px auto 0px 20px;
    }

    h1::after {
        width: 100px;
        height: 2px;
        display: inline-block;
        content: "";
        background-color: #821B1E;
        position: absolute;
        top: 48%;
        margin-left: 10px;
    }

    p {
        font-size: 18px;
    }


    /*ナビゲーション*/
    header {
        display: flex;
        justify-content: space-between;
    }

    .navPc {
        text-align: right;
        font-size: 13px;
        padding-top: 13px;
        margin-right: 40px;
    }

    a {
        font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        margin-left: 40px;
    }

    .phoneTop {
        display: none;
    }

    
    /*カルーセル*/
    .carousel {
        margin: 0 auto 100px auto;
        width: 90%;
    }

    .carouselImg {
        width: 100%;
    }
    

    /*トラジについて*/
    .section1 {
        margin-bottom: 100px;
    }
    .section1-flex {
        display: flex;
        margin: 30px auto;
    }
    
    .section1Img {
        width: 100%;
        margin: auto 30px;
    }
    
    .section1Text {
        display: block;
        margin: auto 20px;
    }
    
    .section1H {
        font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
        font-size: 25px;
        text-align: center;
    }
    
    
    /*募集要項*/
    .section2-flex {
        display: flex;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
    .section2Text {
        margin-left: 100px;
    }
    
    .section2Text > div > h2 {
        font-size: 25px;
        margin-bottom: 0px;
    }
    
    .section2Text > div > p {
        margin-top: 5px;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    
    .section2Img {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .section2Img2 {
        display: none;
    }


    /*スタッフの声*/
    .section3-flex {
        display: flex;
        margin: 30px auto 100px auto;
    }

    .section3Left {
        margin: 0px 30px auto 30px;
    }

    .section3Left > div {
        position: relative;
        height: 550px;
    }

    .section3Right {
        margin: 100px 30px auto 30px;
    }

    .section3Right > div {
        position: relative;
        height: 550px;
    }

    h3 {
        font-weight: normal;
        margin: 0px;
    }

    .section3Text {
        background-color: #1c1c1c;
        position: absolute;
        left: 0px;
        top: 280px;
        margin: 0px 40px 0px 40px;
        padding: 30px;
    }

    .section3Text > h2 {
        margin: 10px 0px;
    }

    .section3Text > p {
        font-size: 15px;
    }

    .section3Img {
        width: 100%;
    }


    /*ギャラリー*/
    .section4-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px auto 100px auto;
    }

    .section4Img {
        width: 200px;
        margin: auto 30px 30px auto;
    }


    /*店舗概要*/
    .section5Table {
        width: 100%;
        margin-top: 30px;
    }

    .section5Th-first {
        text-align: left;
        padding: 20px;
        border-bottom-color: #821B1E;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-top-color: #821B1E;
        border-top-width: 1px;
        border-top-style: solid;
        width: 100px;
    }

    .section5Th {
        text-align: left;
        padding: 20px;
        border-bottom-color: #821B1E;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        width: 100px;
    }

    .section5Td-first {
        text-align: left;
        padding: 30px;
        border-bottom-color: #1c1c1c;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-top-color: #1c1c1c;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .section5Td {
        text-align: left;
        padding: 30px;
        border-bottom-color: #1c1c1c;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .section5Map {
        margin: 40px auto 100px auto;
        width: 100%;
        height: 350px;
    }

    /*お問い合わせフォーム*/
    .section6Form {
        margin: 30px auto 100px auto;
    }

    .section6-flex {
        display: flex;
        margin-bottom: 35px;
    }

    .section6Header {
        width: 240px;
        align-self: center;
    }

    .section6Label {
        font-weight: bold;
    }

    .section6Text {
        font-size: 17px;
        color: white;
        height: 60px;
        width: 400px;
        background-color: #1c1c1c;
        border-bottom-color: black;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .section6Submit {
        height: 70px;
        margin-top: 40px;
        margin-left: 40px;
    }


    /*フッター*/
    footer {
        background-color: black;
        text-align: center;
        padding: 80px 80px 30px 80px;
    }

    .footerLogo {
        width: 125px;
        margin-bottom: 30px;
    }

    .footerMenu {
        margin-bottom: 30px;
    }

    .footerCopy {
        text-align: right;
    }


    /*スクリプト*/
    .fade {
        opacity: 0;
        transition: 1.5s;
    }
    
    .fade-in {
        opacity: 1;
    }

    .section4BigImg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
    }
    
    .bigImg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
        max-width: 800px;
        margin: auto;
    }
    
    .closeBtn {
        position: absolute;
        top: 10px;
        right: 20px;
        color: white;
        font-size: 40px;
        text-decoration: none;
    }
    }










/*スマホのスタイル*/
@media screen and (max-width: 990px) {
    /*ページ*/
    body {
        min-width: 375px;
    }

    section {
        margin: 0 10px 80px 10px;
    }

    article {
        position: relative;
        margin: 0;
        width: 100%;
    }

    .logo {
        width: 85px;
    }

    h1 {
        font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
        font-size: 25px;
        position: relative;
        margin: 0px auto 0px 10px;
    }

    h1::after {
        width: 85px;
        height: 2px;
        display: inline-block;
        content: "";
        background-color: #821B1E;
        position: absolute;
        top: 48%;
        margin-left: 10px;
    }

    p {
        font-size: 13px;
        margin: 0;
    }


    /*ナビゲーション*/
    header {
        display: none;
    }

    .phoneTop {
        padding: 20px 10px;
        width: 95%;
        position: absolute;
        top: 0;
        left: 0;  
    }

    .hamMenu {
        width: 35px;
        position: absolute;
        top: 20px;
        right: 10px;
    }

    #navPhone {
        background-color: #151515;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        display: none;
        z-index: 100;
    }

    .navCloseBtn {
        width: 35px;
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .navLogo {
        width: 125px;
        position: absolute;
        top: 50px;
        left: 25px;
    }

    .navMenu {
        margin-top: 150px;
        animation-name:fadeInAnime;
        animation-duration:2s;
        animation-fill-mode:forwards;
        opacity:0;
    }
    @keyframes fadeInAnime{
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }

    .menu {
        font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
        display: block;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    /*カルーセル*/
    .carousel {
        margin: 0 auto 50px auto;
        width: 100%;
    }

    .carouselImg {
        width: 100%;
    }
    

    /*トラジについて*/
    .section1-flex {
        display: block;
        margin-top: 30px;
    }

    .section1Img > img{
        width: 100%;
    }
    
    .section1Text {
        display: block;
        margin: 20px auto;
    }

    .section1H {
        font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }

    .section1P {
        margin: 10px auto;
        text-align: center;
    }

    span {
        display: block;
        margin-bottom: 15px;
    }

    .span1 {
        display: block;
        margin: 20px auto 15px auto;
    }

    .spanLast {
        display: block;
        margin-bottom: 80px;
    }

    .section1Text > p {
        margin: 10px auto;
    }
    

    /*募集要項*/
    .section2-flex {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        position: relative;
    }
    
    .section2Text {
        order: 1;
        margin: 0px auto auto 40px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .section2Text > div > h2 {
        font-size: 3.5vw;
        margin-bottom: 0px;
    }
    
    .section2Text > div > p {
        font-size: 2.5vw;
        margin: 5px auto 20px 20px;
    }

    .section2Img {
        display: none;
    }

    .section2Img2 {
        text-align: center;
    }

    .section2Img2 > img {
        width: 100%;
        opacity: 0.3;
    }


    /*スタッフの声*/
    .section3-flex {
        display: block;
        margin-top: 30px;
    }

    .section3Left > div {
        margin-bottom: 30px;
        position: relative;
        height: 420px;
    }

    .section3Right > div {
        margin-bottom: 30px;
        position: relative;
        height: 420px;
    }

    h3 {
        font-weight: normal;
        font-size: 15px;
        margin: 0px;
    }

    .section3Text {
        background-color: #1c1c1c;
        position: absolute;
        left: 0px;
        top: 270px;
        padding: 20px;
    }

    .section3Text > h2 {
        font-size: 17px;
        margin: 5px 0;
    }

    .section3Img {
        width: 100%
    }


    /*ギャラリー*/
    .section4-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        margin-top: 30px;
    }

    .section4Img {
        width: 167px;
    }


    /*店舗概要*/
    .section5Table {
        width: 100%;
        margin-top: 30px;
    }

    .section5Th-first {
        text-align: left;
        padding: 20px;
        border-bottom-color: #821B1E;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-top-color: #821B1E;
        border-top-width: 1px;
        border-top-style: solid;
        width: 64px;
    }

    .section5Th {
        text-align: left;
        padding: 20px;
        border-bottom-color: #821B1E;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        width: 64px;
    }

    .section5Td-first {
        text-align: left;
        padding: 20px;
        border-bottom-color: #1c1c1c;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-top-color: #1c1c1c;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .section5Td {
        text-align: left;
        padding: 20px;
        border-bottom-color: #1c1c1c;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .section5Map {
        margin-top: 40px;
        width: 100%;
        height: 240px;
    }


    /*お問い合わせフォーム*/
    .section6Form {
        margin-top: 30px;
    }

    .section6-flex {
        margin-bottom: 20px;
    }

    .section6Header {
        margin-bottom: 20px;
    }

    .section6Label {
        font-weight: bold;
    }

    .section6Text {
        font-size: 17px;
        color: white;
        height: 55px;
        width: 100%;
        min-width: 300px;
        background-color: #1c1c1c;
        border-bottom-color: black;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .section6Submit {
        height: 60px;
    }


    /*フッター*/
    footer {
        background-color: black;
        padding: 30px 10px 50px 10px;
    }

    .footerLogo {
        width: 85px;
        margin: 0 auto 30px auto;
    }

    .footerLogo > img {
        width: 100%;
    }

    .footerMenu {
        margin-bottom: 30px;
    }

    .footerMenu > a {
        font-family: "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
        display: block;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    .footerCopy > p {
        text-align: left;
        font-size: 10px;
    }


    /*スクリプト*/
    .fade {
        opacity: 0;
        transition: 1.5s;
    }
    
    .fade-in {
        opacity: 1;
    }

    .section4BigImg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
    }
    
    .bigImg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
        max-width: 800px;
        margin: auto;
    }
    
    .closeBtnImg {
        width: 35px;
        position: absolute;
        top: 20px;
        right: 10px;
    }
}